.geContainer
    canvas#gameCanvas.gameCanvas
    .geInfo
        input(type='text', value='Fps: 0', readonly)#geFps
        br
        input(type='text', value='Tickrate: 0', readonly)#geTickrate
        br
        input(type='text', value='Frametime: 0', readonly)#geFrametime