html, body, .geContainer {
  width: 100%;
  margin: 0;
}

.geContainer{
  .geInfo {
    width: 80%;
    margin: 20px auto auto;
    display: block;

    input {
      margin-top: 5px;
    }
  }
}

.gameCanvas {
  border: 1px solid black;
  margin: 20px auto auto;
  display: block;
}